*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d0b8a8;
  color: #f8ede3;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main h1 {
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: center;
}

main section input {
  display: block;
  width: 60%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  color: #f8ede3;
  background-color: #85586f;
  padding: 10px;
  font-size: 16px;
}

main section button {
  width: 120px;
  height: 40px;
  margin: 20px auto;
  background-color: #85586f;
  color: #f8ede3;
  border: none;
  border-radius: 4px;
  padding: 5px;
  display: block;
  transition: all 0.5s ease;
}

main section button:hover {
  background-color: #f8ede3;
  color: #85586f;
}

main h2 {
  font-size: 30px;
  color: #85586f;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
